@import '_variables';
@import 'mixins';

.excel__table {
    position: relative;
    right: 0;
    left: 0;
    top: $header-height + $toolbar-height + $formula-height;
    padding-bottom: 2px;

    .row {
        display: flex;
        flex-direction: row;
        height: $row-height;
        min-height: 20px;
    }
    
    /* .head-row {
        position: absolute;
        top: 0; 
    } */

    .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
        user-select: none;
    }

    .column {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-with;
        border: 1px solid $border-color;
        height: 100%;
        border-top: 0;
        border-left: 0;
        position: relative;
        user-select: none;
    }

    .row-data {
        display: flex;
    }

    .cell {
        padding: 5px;
        min-width: 40px;
        width: $cell-with;
        justify-content: center;
        align-items: center;
        border: 1px solid $cell-border-color;
        border-top: 0;
        border-left: 0;
        color: #111;
        white-space: nowrap;
        outline: none;
        
        &.selected { 
            border: none;
            outline: 2px solid $selected-color;
            z-index: 2;
        }  
    }

    .col-resize, .row-resize {
        position: absolute;
        background: $selected-color;
        opacity: 0;

        &:hover {
            opacity: 1!important;
        }
    }

    .col-resize {
        top: 0;
        bottom: 0;
        right: 0;
        width: 3px;

        &:hover {
            cursor: col-resize;
        }
    }
    
    .row-resize {
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;

        &:hover {
            cursor: row-resize;
        }
    }
    
}